  <div class="row">
    <div class="col-md-6">
      <p><strong>Language Community:</strong> <%= @lesson.language.name %></p>
      <h1><%= @lesson.title %></h1>
      <p id="lesson-body" class="ml-3"><%= @lesson.body %></p>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <div class="btn-group">
        <%= link_to "Edit", edit_language_lesson_path(@language, @lesson), class: "btn btn-warning" %>
        <%= link_to "Delete", language_lesson_path(@language, @lesson), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>




<%= form_with(model: [@language, @lesson], url: purchase_language_lesson_path(@language, @lesson), method: 'post', local: true, id: 'purchase-form', data: { turbo_frame: 'purchase-form' }) do |form| %>
  <div class="row">
    <div class="col-md-4 mb-3">
      <%= form.label :first_name, class: "form-label" %>
      <%= form.text_area :first_name, class: "form-control form-control-sm" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :last_name, class: "form-label" %>
      <%= form.text_area :last_name, class: "form-control form-control-sm" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_area :email, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <strong>Price:</strong> <%= number_to_currency(@lesson.price) %>
      <%= form.hidden_field :price, value: @lesson.price %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 mb-3">
      <div id="card-container" class="form-control">
        <div id="card-element"></div>
        <div id="card-errors" role="alert" class="text-danger"></div>
        <%= form.hidden_field :stripe_token %>
      </div>
    </div>
  </div>

  <%= form.submit "Purchase", class: "btn btn-primary" %>
<% end %>


